.banner {
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.72) -2.54%,
      rgba(0, 0, 0, 0) 49.71%,
      rgba(0, 0, 0, 0.72) 101.95%
    ),
    url("assets/images/background/banner1.png");
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.bg-gr2 {
  background:
    linear-gradient(219.5deg, rgba(0, 0, 0, 0.56) 24.49%, rgba(0, 0, 0, 0) 95%),
    url("assets/images/background/background2.png");
}

button {
  cursor: pointer;
}

p {
  text-align: justify;
  line-height: 180%;
}

/* ////////////////////////////// */
.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.slick-slide {
  margin-left: 30px; /* فاصله افقی 15px از چپ و راست */
  opacity: 1;
}
